#root {
  font-family: Arial, Helvetica, sans-serif;
}
body {
}
.h1 {
  padding: 8px;
}
.image {
  background-attachment: fixed;
  background-image: url("img.jpg");
  height: 1000px;
}
.image2 {
  background-attachment: scroll;
  background-image: url("burger.jpg");
  height: 1000px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}
